<form [formGroup]="cityForm">

  <div class="row">
      <div class="col-8"> <select formControlName="city" (change)="cityChange($event)">

          <!-- <option value="0">Elegí la Ciudad</option> -->
          <option *ngFor="let city of citiesCollection" [ngValue]="city.cityId">
            {{ city.name}}
          </option>
        </select>
      </div>

      <div class="col-4" *ngIf="weatherIconUrl">
        <ng-template #tipContent>
          <p>{{ currentStatus }}</p>
          <p> Humedad: {{ currentHumidity }} {{ currentHumidityUnit }}</p>
          <p> Presión: {{currentPressure }} {{ currentPressureUnit }}</p>
        </ng-template>

        <div style="float:right;">
          <img [src]="weatherIconUrl" width="22px" height="22px" alt="Foto" [ngbTooltip]="tipContent" placement="bottom">

          <small >{{ currentTemperature }}{{ currentTempUnit }}</small>
        </div>
        
        
        
      </div>
  </div>

</form>